@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Metamorphous');
@import url('https://fonts.googleapis.com/css?family=Crimson+Pro');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700');
@font-face {
    font-family: 'Ferrum';
    src: url('https://db.onlinewebfonts.com/t/f17aa3d7ac14a97a8be892c45c6d60fc.woff2') format('woff2');
}


  a { color: #57595C; } 
  
  /*.phb#p1:after, .phb#p2:after { display:none; }*/
  .phb:after { content: ''; }
  
  .phb{
    padding-bottom: 30px;
    padding-top: 30px;
    font-family:'Crimson Pro', serif;
    font-size: .328cm;
    background-image: url('https://gmbinder.com/images/KN1O92T.png');
    background-color: #ffffff;
    background-size: cover;
  }
  
  .phb p.intro::first-letter{
    float: left;
    font-size: 3.0cm; 
    line-height: 1em;
    color: transparent;
    padding-left: 40px;
    margin-left: -40px;
    line-height: 1em;
    padding-bottom: 2px;
    margin-bottom:-15px;
    margin-top: -12px;
    font-family: 'Solberry';
    -webkit-background-clip: text;
    background-image: linear-gradient(-45deg, #060B13, #517CC8, #060B13);
  }
  
  .phb h1, .phb h2, .phb h3, .phb h4  { 
    font-family: 'Cinzel', serif;
    font-variant: small-caps;
    color: #2F5496;
    font-weight: normal !important;
    -webkit-text-stroke-width: 0 !important;
  }
  
  .phb h1 {
    column-span: none !important;
    
  }
  
  .phb h3 {
    font-size: .490cm;
    border-bottom:2px solid #DEB400;
  }
  
  .phb .footnote {
    font-family: 'Metamorphous', cursive;
    font-weight: bold;
  }
  .toc li span:nth-child(2){ 
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }
  .toc li span:nth-child(2):after{ 
    font-family:BookSanity;
    font-size:0.317cm;
    font-weight:normal;
    color:black;
    content:" ........................................"".........................................""........................................."; 
  }
  .toc li span:first-child{
    float:right;
    font-family:BookSanity;
    font-size:0.317cm;
    font-weight:normal;
    color:black;
    margin-left:1px;
  }
  .toc li h4 { 
    font-size:8pt;
    border:none;
    font-family: 'Bolton';
    text-transform: uppercase; 
  }
  
  .toc a { color: inherit !important; }
  .toc ul ul { margin-left: 10px !important; }
  .toc>ul>li { margin-bottom: initial !important; }
  
  .listofspells ul { 
    list-style-type: none;
    text-indent: -0.7em;
    padding-left: 1em;
    line-height: 1.3em;
    font-style: italic;
    font-family: 'Alegreya Sans', sans-serif;
  }
  
  .phb blockquote h5 { 
    margin-top: .5em;
    margin-bottom: .1em;
  }

  /*.phb .partpage { background-image:url('https://www.gmbinder.com/images/HNmiLyV.png'); }*/
  
  .phb .partpage h1 {
    font-family:Cinzel;
    font-size:35pt;
  }
  
  .phb .partpage h5 {
    font-family:Cinzel;
    font-size: 11pt;
    color: #2F5496;
  }
  
  .phb section blockquote {
    background:#D9EBF2;
    font-family: 'Alegreya Sans', sans-serif;
  }
  
  .phb hr + section blockquote tr:nth-child(odd) td { background-color: transparent; }
  .phb hr + section blockquote {
    background-image:url('https://www.gmbinder.com/images/ednPv1C.jpeg');
  }

  table tr:nth-child(odd) td {background-color: #C5D3ED}
  table tr{
    font-family: 'Alegreya Sans', sans-serif;
  }

  .phb .pageNumber { color: rgba(0, 0, 0, 0.6) }
  .phb .footnote { color: rgba(0, 0, 0, 0.6) }
  .phb:nth-child(odd):after{ background-image: url('https://i.postimg.cc/W4CMjyfJ/footer-blue.png'); }
  .phb:nth-child(even):after{ background-image:url('https://i.postimg.cc/W4CMjyfJ/footer-blue.png');transform:scaleX(-1); }
  
  .phb hr+section blockquote {
    padding-top: 13px;
    background-image: url('https://gmbinder.com/images/UCIUXyr.png');
    border-image: url('https://i.postimg.cc/tgfYHn8y/blockquote-wrap.png');
    border-width:3px;
    border-image-slice:20;
  }
  
  .phb hr+section blockquote hr {
    background-image:url('https://i.postimg.cc/BQPdLrzJ/arrow-right-blue.png');
  }
  
  .phb hr+section blockquote h3 {
    border-bottom:1px solid #DEB400;
  }
  
  .phb hr+section blockquote hr+ul {
    color: #000000;
  }
  
  .phb hr+section blockquote table {
    color: #2F5496;
  }
  
  .phb hr+section blockquote hr+ul strong {
    color: #2F5596
  }
  
  /*.phb#p3{
    background-image:url('https://watercolors.giantsoup.com/xgte/xgte_left/0001.png');
    background-color:grey;
  }*/
